$btn-padding-y: 0.375rem;  // Padding vertical de los botones
$btn-padding-x: 0.75rem;  // Padding horizontal de los botones
$btn-border-radius: 0.25rem;  // Bordes redondeados en botones
$btn-transition: all 0.15s ease-in-out;  // Transición de los botones

.block_myoverview .whitebutton .btn-secondary {
    background: white;
    border-color: $G1_00!important;
    color: $G1_00!important;
}