@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

#page-content {
  background-color: white;
}

.section .activity .activityinstance {
  min-width: 10%;
}

#page.drawers {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.wrapper_home {
  width: 100%;
  max-width: 814px;
  padding: 0 8px;
  margin: 0 auto;
}
.wrapper_home .sec1,
.wrapper_home .sec2 {
  min-height: 300px;
}
.wrapper_home .sec1 {
  background-color: #99f;
}
.wrapper_home .sec2 {
  background-color: #f99;
}
.wrapper_home .panel_logos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 22%));
  grid-gap: 20px;
  margin: 50px auto;
  padding: 0;
  justify-content: center;
}
@media only screen and (max-width: 515px) {
  .wrapper_home .panel_logos {
    width: 70%;
    grid-template-columns: repeat(auto-fit, 50%);
  }
}
.wrapper_home .panel_logos .logo_p .logo {
  margin-top: 1em;
  width: 100%;
  height: auto;
}

/*
.frontpage-course-list-enrolled {
    .coursebox {
        float: left;
        width: calc(50% - 4px);
    }

    .first {
        margin-right: 4px;
    }

    .last {
        margin-left: 4px;
    }

    .content {
        .d-flex {
            .courseimage { }

            .flex-grow-1 {
                .summary {
                    .no-overflow {
                        p {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 200px;
                        }

                    }
                }
            }
        }
    }
}
*/
.ktt_log_page {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media only screen and (max-width: 575px) {
  .ktt_log_page {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
  }
}
.ktt_log_page .imgbk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
@media only screen and (max-width: 575px) {
  .ktt_log_page .imgbk {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}
.ktt_log_page .lg_cnt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background-color: #fff;
  border-left: 1px solid #9e9e9e;
  display: flex;
  align-items: start;
  max-width: 390px;
  overflow-y: auto;
  overflow-y: auto;
}
@media only screen and (max-width: 575px) {
  .ktt_log_page .lg_cnt {
    position: relative;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    height: auto;
    border-left: none;
  }
}
.ktt_log_page .lg_cnt div[role=main] {
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .ktt_log_page .lg_cnt div[role=main] {
    width: 100%;
    height: auto;
  }
}
.ktt_log_page .lg_cnt div[role=main] .loginform .login-logo {
  display: flex;
  padding: 30px 0 50px;
}
.ktt_log_page .lg_cnt div[role=main] .loginform .login-logo #logoimage {
  width: 150px !important;
  height: 150px !important;
  margin: 0px auto !important;
}
.ktt_log_page .lg_cnt div[role=main] .loginform .login-form .login-form-submit .btn {
  width: 100% !important;
}
.ktt_log_page .lg_cnt div[role=main] .loginform .login-heading {
  font-size: 1em !important;
  font-weight: 500 !important;
}
.ktt_log_page .lg_cnt div[role=main] .login-signup .btn-secondary {
  width: 100% !important;
  margin-bottom: 16px;
}
.ktt_log_page .lg_cnt div[role=main] #guestlogin .btn {
  width: 100% !important;
  margin-bottom: 16px;
}
.ktt_log_page .lg_cnt div[role=main] .d-flex .btn {
  width: 100% !important;
  margin-bottom: 16px;
}
.ktt_log_page .lg_cnt::-webkit-scrollbar {
  width: 8px;
}
.ktt_log_page .lg_cnt::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.ktt_log_page .lg_cnt::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
.ktt_log_page .lg_cnt::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
.login-instructions,
.login-signup {
    visibility: hidden;
}
*/
/*
.myFooter {
  width: 100%;
  height: auto;
  padding: 8px;
  background-color: #f7f7f777;

  .myFooter_wrp {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr repeat(2, auto);
    gap: 8px 8px;
    grid-auto-flow: row;
    max-width: 814px;
    margin: 0 auto;
    grid-template-areas:
      "footer_logo footer_menu1 footer_menu2"
      "psi_esw psi_esw psi_esw"
      "footer_cr footer_cr footer_cr";

    @include media_580 {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      grid-template-areas:
        "footer_logo footer_logo"
        "footer_menu1 footer_menu2"
        "psi_esw psi_esw psi_esw"
        "footer_cr footer_cr";
    }

    .footer_logo {
      justify-self: center;
      align-self: start;
      grid-area: footer_logo;

      .logo {
        margin-top: 1em;
        width: auto;
        height: 132px;
      }
    }

    .footer_menu1 {
      grid-area: footer_menu1;
      color: $primary;

      @include media_580 {
        justify-self: center;
      }
      h3,
      h5 {
        text-transform: uppercase;
      }
    }

    .footer_menu2 {
      grid-area: footer_menu2;
      color: $primary;

      @include media_580 {
        justify-self: center;
      }
      h3,
      h5 {
        text-transform: uppercase;
      }
    }

    .psi_esw {
      grid-area: psi_esw;
      color: $primary;

      @include media_580 {
        justify-self: center;
      }
    }

    .footer_menu1,
    .footer_menu2,
    .psi_esw {
      h3,
      h5 {
        margin-bottom: 12px;
        font-size: 1em;
        font-weight: 500;
      }

      ul {
        padding-left: 0;
        list-style: none;

        li {
          line-height: 32px;

          a {
            color: $primary;
            text-decoration: none;

            &:hover {
              color: #0f6cbf;
            }
          }
        }
      }
    }

    .footer_cr {
      align-self: center;
      grid-area: footer_cr;
      border-top: 1px solid #d8d8d8;

      p {
        text-align: center;
        color: $primary;
        font-size: small;
        line-height: 2em;
        padding: 0;
        margin: 0;
        color: #686868;
      }
    }
  }
}
*/
.myfooter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "content";
  padding-top: 50px;
  /* Usar la imagen desde pix/graphic_design */
  background-image: url("{{#pix}}graphic_design/graf_1, theme_fosbrazil{{/pix}}");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.myfooter .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav_content" "copyright";
  grid-area: content;
  padding: 75px 0;
  background-color: #231F20;
}
.myfooter .content .nav_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "item1 item2 item3 logo_c";
  grid-area: nav_content;
}
.myfooter .content .nav_content a {
  color: #e9e9e9;
}
.myfooter .content .nav_content a:hover {
  color: #80bd6c;
  text-decoration: none;
}
.myfooter .content .nav_content .item1 {
  grid-area: item1;
  justify-self: center;
  align-self: center;
}
.myfooter .content .nav_content .item2 {
  grid-area: item2;
  justify-self: center;
  align-self: center;
}
.myfooter .content .nav_content .item3 {
  grid-area: item3;
  justify-self: center;
  align-self: center;
}
.myfooter .content .nav_content .logo_c {
  grid-area: logo_c;
  justify-self: center;
  align-self: center;
}
.myfooter .content .copyright {
  grid-area: copyright;
  background-color: #918f90;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 0.9em;
}

.panel_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 30.8%));
  grid-gap: 8px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}
.panel_grid .card {
  position: relative;
  width: 100%;
  height: 260px;
  margin: 0 auto;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.panel_grid .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel_grid .card .face.face1 {
  box-sizing: border-box;
  padding: 8px;
  background-color: #FFF;
  align-items: start;
}
.panel_grid .card .face.face1 .content {
  font-size: clamp(0.7em, 3vw, 1em);
  font-weight: 200;
}
.panel_grid .card .face.face2 {
  transition: 0.5s;
  background-color: #F26A5E;
}
.panel_grid .card .face.face2 h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
}
.panel_grid .card .face:hover {
  cursor: pointer;
}
.panel_grid .card:nth-child(odd) .face.face2 {
  background-color: #F26A5E;
}
.panel_grid .card:nth-child(even) .face.face2 {
  background-color: #333;
}
.panel_grid .card:hover .face.face2 {
  height: 60px;
}
.panel_grid .card:hover .face.face2 h3 {
  font-size: 1em;
}

.con_img {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
.con_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con_img .img_tt {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgba(51, 51, 51, 0.3490196078);
  text-shadow: rgba(51, 51, 51, 0.1764705882);
  bottom: 0;
  padding: 8px 16px 16px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}

.cont_icon_frs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  gap: 20px 0px;
  grid-auto-flow: row;
  padding: 50px 0;
  grid-template-areas: "icon" "frs";
}
.cont_icon_frs .icon_frs {
  justify-self: center;
  align-self: center;
  grid-area: icon;
}
.cont_icon_frs .icon_frs img {
  width: 72px;
  height: 72px;
}
.cont_icon_frs .frs {
  justify-self: center;
  align-self: stretch;
  grid-area: frs;
}
.cont_icon_frs .frs h1, .cont_icon_frs .frs h2, .cont_icon_frs .frs h3, .cont_icon_frs .frs h4, .cont_icon_frs .frs h5, .cont_icon_frs .frs h6, .cont_icon_frs .frs p {
  max-width: 780px;
  text-align: center;
}

.panel_smpl_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 30.8%));
  grid-gap: 22px;
  margin: 50px auto;
  padding: 0;
  justify-content: center;
}
.panel_smpl_cards .smpl_card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas: "cont_icon" "cont_descr";
}
.panel_smpl_cards .smpl_card .cont_icon {
  justify-self: center;
  align-self: center;
  grid-area: cont_icon;
}
.panel_smpl_cards .smpl_card .cont_icon img {
  width: 100px;
  height: 100px;
}
.panel_smpl_cards .smpl_card .cont_descr {
  justify-self: center;
  align-self: center;
  grid-area: cont_descr;
}
.panel_smpl_cards .smpl_card .cont_descr p {
  text-align: center;
  font-weight: 200;
  font-size: 0.9em;
}

.card-body .card-title {
  color: #A7C958;
  font-size: 1.3em;
}

.navbar {
  background-color: white !important;
}

.navbar .nav-link {
  color: #386641 !important;
  font-weight: 400 !important;
}

.navbar .nav-link:hover {
  color: #386641 !important;
  background-color: #edf4de !important;
}

.navbar .nav-link.active {
  color: #386641 !important;
  font-weight: 600 !important;
  border-bottom-color: #386641 !important;
}

.moremenu {
  background-color: white !important;
}

.moremenu .nav-link {
  color: #386641 !important;
  font-weight: 400 !important;
}

.moremenu .nav-link:hover {
  color: #386641 !important;
  background-color: #d7e0d9 !important;
}

.moremenu .nav-link.active {
  color: #386641 !important;
  font-weight: 600 !important;
  border-bottom-color: #386641 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #608567 !important;
  color: white !important;
}

#page-header {
  background-color: transparent;
  color: #386641 !important;
}

.moremenu {
  background-color: white !important;
}

.moremenu .nav-link {
  color: #386641 !important;
  font-weight: 400 !important;
}

.moremenu .nav-link:hover {
  color: #386641 !important;
  background-color: #d7e0d9 !important;
}

.moremenu .nav-link.active {
  color: #386641 !important;
  font-weight: 600 !important;
  border-bottom-color: #386641 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #608567 !important;
  color: white !important;
}

.btn-footer-popover {
  background-color: #386641 !important;
  color: white;
}
.btn-footer-popover:hover {
  color: #386641 !important;
  background-color: #88a38d !important;
}

@media (min-width: 768px) {
  .pagelayout-standard #page.drawers .footer-popover,
  body.limitedwidth #page.drawers .footer-popover {
    max-width: none;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
body a {
  color: #608567;
}
body a:hover {
  color: #A7C958;
}

.main-inner {
  padding: 0px !important;
}

.custom_wrapper {
  max-width: 788px !important;
  margin: 0 auto;
  padding: 0 16px;
}

div[role=main] {
  padding: 0 16px !important;
}

.block {
  max-width: 788px !important;
  margin: 0 auto;
  padding: 0 16px;
}

.aabtn.focus, .aabtn:focus, .btn-link.focus, .btn-link:focus, .nav-link.focus, .nav-link:focus, .editor_atto_toolbar button.focus, .editor_atto_toolbar button:focus, .editor_atto_toolbar .atto_toolbar_row.focus, .editor_atto_toolbar .atto_toolbar_row:focus, [role=button].focus, [role=button]:focus, .list-group-item-action.focus, .list-group-item-action:focus, input[type=checkbox].focus, input[type=checkbox]:focus, input[type=radio].focus, input[type=radio]:focus, input[type=file].focus, input[type=file]:focus, input[type=image].focus, input[type=image]:focus, .sr-only-focusable.focus, .sr-only-focusable:focus, a.dropdown-toggle.focus, a.dropdown-toggle:focus, .moodle-dialogue-base .closebutton.focus, .moodle-dialogue-base .closebutton:focus, button.close.focus, button.close:focus, .form-autocomplete-selection.focus, .form-autocomplete-selection:focus, [role=treeitem]:not([aria-expanded=true]).focus, [role=treeitem]:not([aria-expanded=true]):focus {
  outline: 0;
  box-shadow: none !important;
}

/*# sourceMappingURL=custom.css.map */
