.dropdown-item {
  &:hover,
  &:focus,
  &:focus-within {
    background-color: $G1_20 !important;
    color: white;
  }
}
.dropdown-item.active {
  background-color: $G1_80 !important;
  color: $G1_00 !important;
}

.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
.editor_atto_toolbar .atto_toolbar_row.focus,
.editor_atto_toolbar .atto_toolbar_row:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role="treeitem"]:not([aria-expanded="true"]).focus,
[role="treeitem"]:not([aria-expanded="true"]):focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem $G3_50 !important;
}

.block_recentlyaccesseditems a.dashboard-card small {
  color: $G1_00 !important;
}

.drawer {
  background-color: $G1_90 !important;
}

.list-group-item {
    background-color: $G1_90!important;
}

.select.custom-select {
    background-color: white !important;
    color: $D1_00 !important;

    &:focus {
        border-color: $G2_00 !important;
        box-shadow: $shadow !important;
    }
}

input[type="text"], textarea, input[type="password"], input[type="email"] {
    &:focus {
        border-color: $G2_00 !important;
        box-shadow: $shadow !important;
        outline: none;
    }
}

.btn-outline-secondary {
    color: $G1_00 !important;
    &:focus {
        background-color: $G1_00 !important;
        border-color: $G2_00 !important;
        box-shadow: 0 0 5px $shadow !important;
        outline: none;
    }
}

.btn-primary {
    background-color: $G1_00 !important;
    border-color: $G1_00 !important;
    color: white;
    &:focus {
        background-color: $G1_80 !important;
        border-color: $G2_00 !important;
        box-shadow: 0 0 5px $shadow !important;
        outline: none;
    }
}

.maincalendar .calendarmonth td.today .day-number-circle {
    background-color: $G1_00 !important;
}

.drawer {
    color: $G1_00 !important;
    background-color: $G1_80 !important;
}

.drawer-toggles .drawer-toggler .btn {
    background-color: $G2_70 !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.courseindex .courseindex-item.pageitem {
    background-color: $G1_00 !important;
    color: white !important;
    &:hover{
        background-color: $G1_00 !important;
    }
}

.page-item.active .page-link {
    background-color: $G1_00;
    border-color: $G1_00;
}

.page-link {
    color: $G1_00;
}

.activityiconcontainer.collaboration {
    background-color: $G1_00;
}

.form-autocomplete-selection [data-active-selection=true] {
    box-shadow: 0 0 0 0.2rem $shadow;
}

.btn-secondary {
    color: $G1_00;
    background-color: $G3_70;
    border-color: $G3_70;
}

.fp-viewbar:not(.disabled) a.checked {
    background-color: $G1_00;
    color: #e9e9e9;
    border-color: $G1_00;
}