@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// CIRCUITOS - Colors & Chromatic scale

$G1_00: #386641;
$G1_10: #4c7554;
$G1_20: #608567;
$G1_30: #74947a;
$G1_40: #88a38d;
$G1_50: #9cb3a0;
$G1_60: #afc2b3;
$G1_70: #c3d1c6;
$G1_80: #d7e0d9;
$G1_90: #ebf0ec;

$G2_00: #A7C958;
$G2_10: #b0ce69;
$G2_20: #b9d479;
$G2_30: #c1d98a;
$G2_40: #cadf9b;
$G2_50: #d3e4ac;
$G2_60: #dce9bc;
$G2_70: #e5efcd;
$G2_80: #edf4de;
$G2_90: #f6faee;

$G3_00: #49A02D;
$G3_10: #5baa42;
$G3_20: #6db357;
$G3_30: #80bd6c;
$G3_40: #92c681;
$G3_50: #a4d096;
$G3_60: #b6d9ab;
$G3_70: #c8e3c0;
$G3_80: #dbecd5;
$G3_90: #edf6ea;

$A1_00: #F2E8CF;
$A1_10: #f3ead4;
$A1_20: #f5edd9;
$A1_30: #f6efdd;
$A1_40: #f7f1e2;
$A1_50: #f9f4e7;
$A1_60: #faf6ec;
$A1_70: #fbf8f1;
$A1_80: #fcfaf5;
$A1_90: #fefdfa;

$R1_00: #BB4748;
$R1_10: #c2595a;
$R1_20: #c96c6d;
$R1_30: #cf7e7f;
$R1_40: #d69191;
$R1_50: #dda3a4;
$R1_60: #e4b5b6;
$R1_70: #ebc8c8;
$R1_80: #f1dada;
$R1_90: #f8eded;

$R2_00: #FA8176;
$R2_10: #fb8e84;
$R2_20: #fb9a91;
$R2_30: #fca79f;
$R2_40: #fcb3ad;
$R2_50: #fdc0bb;
$R2_60: #fdcdc8;
$R2_70: #fed9d6;
$R2_80: #fee6e4;
$R2_90: #fff2f1;

$D1_00: #231F20;
$D1_10: #393536;
$D1_20: #4f4c4d;
$D1_30: #656263;
$D1_40: #7b7979;
$D1_50: #918f90;
$D1_60: #a7a5a6;
$D1_70: #bdbcbc;
$D1_80: #d3d2d2;
$D1_90: #e9e9e9;

$shadow: 0 0 5px rgba(76, 175, 80, 0.5);

$hide: transparent;

$primary: $G1_00 !important;
$success: $G1_20 !important;
$info: $G1_50 !important;
$warning: $R2_00 !important;
$danger: $R1_00 !important;
$secondary: $G3_00 !important;

$info-outline: $G3_40;
$warning-outline: $R1_10;

$brand-color: $G1_00;
$brand-primary: $G1_00;

$brand-color-light: lighten($brand-color, 20%);
$brand-color-dark: darken($brand-color, 20%);

$activity-icon-colors: (
     "administration": $G3_00,
     "assessment": $G1_20,
     "collaboration": $R2_40,
     "communication": $R2_00,
     "content": $G3_30,
     "interface": $G2_00
 );