@import '/abstract/mixins';

.feedback-item-multichoice.multichoice-horizontal { 
    .form-check-inline.form-check-label.fitem {
    display: inline-flex;
    flex-direction: column-reverse;
    padding: 0 !important;
    margin: 0 !important;
}
    .form-check-inline .form-check-input {
    margin: 0.50rem 0 !important;
}
}

.likertScaleText {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 5vw;
    height: 6.5vh;
    padding-bottom:  2.5rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #000;
    word-wrap: break-word;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    

  @include mobile {
  }

 
  @include brk515 {
  }

  @include portrait {
  }
}
