.navbar {
    background-color: #e49dee!important; // Cambia el color de fondo del navbar
}

.navbar .nav-link {
    color: #830f0f!important; // Cambia el color de los enlaces del navbar
}

.navbar .nav-link:hover {
    color: #00ff40!important; // Cambia el color al hacer hover
}

.navbar .nav-link.active {
    font-weight: bold; // Cambia el estilo del enlace activo
    color: #FFA500!important; // Color para el enlace activo
}
