.btn-footer-popover {
  background-color: $G1_00 !important;
  color: white!important;
  &:hover, &:focus, &:active {
    .fa {
      color: $G1_00 !important;
    }
    background-color: $G3_90 !important;
  }
}

@media (min-width: 768px) {
  .pagelayout-standard #page.drawers .footer-popover,
  body.limitedwidth #page.drawers .footer-popover {
    //max-width: none;
  }
}
