.login_page {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $G1_20;

  .login_page_logo {
    position: absolute;
    width: 230px;
    height: auto;
    top: 44px;
    left: 44px;

    .nao_e_nao {
      width: 100%;
    }
  }

  #loginbtn {
    width: 100%;
  }

  .graf_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}

.lg_cnt {
  position: relative;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: start;
  max-width: 390px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: $shadow;

  @include brk440 {
    margin: 0;
    position: relative;
    border-radius: 0px;
    display: flex;
    align-items: start;
    max-width: none;
    height: 100%;
    width: 100%;
  }

  .login-logo {
    display: flex;
    padding: 30px 0 50px;

    #logoimage {
      width: 150px !important;
      height: 150px !important;
      margin: 0px auto !important;
    }
  }

  .login-instructions {
    h2 {
      font-size: 1.2rem;
    }
  }

  .login-signup {
    .btn-secondary {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  div[role="main"] {
    // ... otros estilos ...

    .d-flex {
      flex-direction: column; // Cambia la dirección del flex a columna
      align-items: stretch; // Asegura que los elementos hijos se estiren al 100% del ancho

      .login-languagemenu,
      .btn-secondary {
        width: 100%; // Asigna ancho completo
      }

      .divider {
        width: 100%; // Asigna ancho completo a la línea divisoria
        margin: 16px 0; // Añade margen vertical para espaciar los elementos
        border-left: none; // Elimina el borde izquierdo si es necesario
        border-top: 1px solid #ccc; // Opcional: Añade una línea horizontal
      }

      button.btn-secondary {
        margin-bottom: 0; // Ajusta el margen si es necesario
      }
    }

    @include brk575 {
      position: relative;
      width: 100%;
      max-width: 390px;
      margin: 0 auto;
      height: auto;
      border-left: none;
    }

    div[role="main"] {
      width: 100%;

      @include brk575 {
        width: 100%;
        height: auto;
      }

      .loginform {
        .login-logo {
          display: flex;
          padding: 30px 0 50px;

          #logoimage {
            width: 150px !important;
            height: 150px !important;
            margin: 0px auto !important;
          }
        }

        .login-form {
          .login-form-submit {
            .btn {
              width: 100% !important;
            }
          }
        }

        .login-heading {
          font-size: 1em !important;
          font-weight: 500 !important;
        }
      }

      .login-signup {
        .btn-secondary {
          width: 100% !important;
          margin-bottom: 16px;
        }
      }

      #guestlogin {
        .btn {
          width: 100% !important;
          margin-bottom: 16px;
        }
      }

      .d-flex {
        .btn {
          width: 100% !important;
          margin-bottom: 16px;
        }
      }
    }

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .page_wrapper_login {
    @include brk767-98 {
      max-width: none !important;
      max-height: none !important;
      display: block !important;
    }
  }

  // new account

  .form-group {
    width: 100%;
    span {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}

.mform.full-width-labels .fitem.row {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  width: 100%; /* Asegúrate de que el ancho sea el 100% */
}

.mform.full-width-labels .fitem.row > .col-md-3 {
  width: 100%; /* Hace que la etiqueta ocupe todo el ancho */
  padding-right: 0;
  padding-left: 0;
  max-width: 100%; /* Asegura que no haya límite de ancho */
}

.mform.full-width-labels .fitem.row > .col-md-9 {
  width: 100%; /* Hace que el input ocupe todo el ancho */
  padding-right: 0;
  padding-left: 0;
  max-width: 100%; /* Asegura que no haya límite de ancho */
}

.mform.full-width-labels .form-label-addon {
  position: absolute; /* Posiciona el icono de advertencia sobre la misma línea */
  right: 0; /* Alinea el icono a la derecha */
  top: 0; /* Alinea el icono al nivel superior de la etiqueta */
  padding: 5px; /* Ajusta el espacio entre el icono y el texto */
}

.mform.full-width-labels .text-danger {
  margin-left: 5px; /* Ajusta el margen para mantener el icono separado del texto */
}
